* {
    margin: 0;
    padding: 0;
}
body {
    background: url(506888.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
}
.radio {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    color: dodgerblue;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.clock {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,20%);
    background-color:background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D);
}
.clock p {
    font-size: 25px;
    color: #fff;
    font-family: monospace;
    font-weight: 900;
    width: 100%;
    padding: 5vh 10vw;
}
.clock #minute {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
#second {
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}